= form_tag user_restorations_path(0), :method => :post, :class => 'form-search'  do
  = text_field_tag :email, "",:placeholder => "Email"
  = submit_tag "Restore", :class => 'btn btn-success'
    
%nav.options
  = link_to "Login", login_path
  = link_to "Saddle up", register_path