.alert-message.block-message.error.recruiting_message
  = link_to "×",user_checklist_read_recruiting_message_path(current_user), remote: true, method: :put, class: 'special_close'
  .float-left
    = image_tag "artwork/rubylang.png"
  %h4
    = "Cloudsdale needs Programmers"
  
  %p= "Currently Zeeraw is the only programmer on duty, he gets pretty lonely cutting rubies by himself. Do possess any experience with Ruby or even Rails projects; why don't you help him out? We believe that would make him pretty happy. Contact him about applying for a programmer spot at: "
  = mail_to("zeeraw@cloudsdale.org")
  %br