.get-started
  - unless current_user.checklist.read_welcome_message
    = render :partial => 'welcome_message'
  - if current_user.cloud_ids.count < 1
    = render :partial => 'cloud_suggestion'
  - elsif current_user.avatar.url.nil?
    = render :partial => 'add_avatar_suggestion'
  - elsif current_user.publisher_ids.count < 1
    = render :partial => 'user_suggestion'
  - elsif !current_user.checklist.read_recruiting_message
    = render :partial => 'recruiting_message'
  - elsif !current_user.checklist.read_terms_message
    = render :partial => 'read_terms_suggestion'
= render :partial => 'kony'
    
.dropzone            
  .row
    .span4
      .nav-wrapper
        %nav.side-list
          = link_to "/", class: 'main-item' do
            = image_tag "icons/iconic/gray_dark/star_16x16.png", :title => "title", :class => "class"
            = "Subscriptions"
        - unless current_user.clouds.empty?
          %span.nav-head Clouds
          %nav.side-list
            - current_user.clouds.each do |cloud|
              = link_to cloud_path(cloud), class: 'main-item' do
                = image_tag cloud_avatar_path(cloud.avatar.mini.url,:mini), onerror: "this.onerror = null; this.src='#{cloud_avatar_path(nil,:mini)}'"
                = cloud.name
              
            / - if current_user.clouds.count > 5
            /   = link_to "see all »","#", class: 'all'
            
            - if current_user.clouds.count > 5
              = link_to " ","#", class: 'more'
            
        - unless current_user.publishers.empty?
          %span.nav-head Subscriptions
          %nav.side-list
            - current_user.publishers.each do |user|
              = link_to user_path(user), class: 'main-item' do
                = image_tag user_avatar_path(user.avatar.mini.url,:mini), onerror: "this.onerror = null; this.src='#{user_avatar_path(nil,:mini)}'"
                = user.name
              
            / - if current_user.publishers.count > 5
            /   = link_to "all","#", class: 'all'
            
            - if current_user.publishers.count > 5
              = link_to " ","#", class: 'more'
              
        - unless @suggested_clouds.empty?
          %span.nav-head Suggested Clouds
          %nav.side-list
            - @suggested_clouds.each do |cloud|
              = link_to cloud_path(cloud), class: 'main-item' do
                = image_tag cloud_avatar_path(cloud.avatar.mini.url,:mini), onerror: "this.onerror = null; this.src='#{cloud_avatar_path(nil,:mini)}'"
                = cloud.name
              
            / - if current_user.clouds.count > 5
            /   = link_to "see all »","#", class: 'all'
            
            - if @suggested_clouds.count > 5
              = link_to " ","#", class: 'more'
        
          - unless @popular_users.empty?
            %span.nav-head Popular Users
            %nav.side-list
              - @popular_users.each do |user|
                = link_to user_path(user), class: 'main-item' do
                  = image_tag user_avatar_path(user.avatar.mini.url,:mini), onerror: "this.onerror = null; this.src='#{user_avatar_path(nil,:mini)}'"
                  = user.name

              / - if current_user.publishers.count > 5
              /   = link_to "all","#", class: 'all'

              - if @popular_users.count > 5
                = link_to " ","#", class: 'more'
            
            
    .span12
      = render partial: 'drops/form', locals: { with_path: drops_path }
      %ul.drop-list
        = render partial: 'drops/list_content'
        
    
      