.dropzone
  .row
    .span16
      = render partial: 'drops/form', locals: { with_path: drops_path }
            
  .row
    .span4      
      - if @recommended_clouds
        %ul.cloud-facet-list
          %li.list-head= "Interesting Clouds"
          - @recommended_clouds.each do |cloud|
            %li
              = link_to cloud_path(cloud) do
                = image_tag cloud_avatar_path(cloud.avatar.mini.url,:mini)
                = cloud.name
              %p.member-count= "#{cloud.member_count} member#{(cloud.member_count > 1) ? 's' : '' }"
            
    .span12
      %ul.drop-list
        = render partial: 'drops/list_content'
        = paginate @drops
        
    
      