= render :partial => 'kony'
.row
  .span4
    %ul.nav.nav-tabs.nav-stacked{ data: { tabs: :tabs } }
      - unless user_got_started?
        %li
          = link_to "#get-started", class: 'main-item', data: { toggle: "tab" } do
            %i.icon-exclamation-sign
            = "Get Started"
            
      %li
        = link_to "#subscriptions", class: 'main-item', data: { toggle: "tab" } do
          %i.icon-star
          = "Subscriptions"
      
      / %li
      /   = link_to "#popular", class: 'main-item', data: { toggle: "tab" } do
      /     %i.icon-retweet
      /     = "Popular"
      / 
      / %li
      /   = link_to "#trending", class: 'main-item', data: { toggle: "tab" } do
      /     %i.icon-signal
      /     = "Trending"
      
          
    
    - unless @suggested_clouds.empty?
      %h6.sidebar-title= "Clouds to join..."
      %ul.thumbnails.thumbnails-clouds
        - @suggested_clouds.each do |cloud|
          = render :partial => 'clouds/card', locals: { cloud: cloud }
      
  .span12.tab-content
    - unless user_got_started?
      .tab-pane#get-started
        = render :partial => 'get_started'
        
    .tab-pane.dropzone#subscriptions{ data: { channels: (current_user.cloud_ids.map{|id|id.to_s} + current_user.publisher_ids.map{|id|id.to_s} ).uniq } }
      = render partial: 'drops/form', locals: { with_path: drops_path }
      %ul.drop-list
        = render partial: 'drops/list_content'
    .tab-pane.dropzone#popular
      / = render partial: 'drops/form', locals: { with_path: drops_path }
      / %ul.drop-list
      /   = render partial: 'drops/list_content'
    .tab-pane.dropzone#trending
      / = render partial: 'drops/form', locals: { with_path: drops_path }
      / %ul.drop-list
      /   = render partial: 'drops/list_content'
        
    
      