= render :partial => 'kony'
.row
  .span4
    %ul.nav.nav-tabs.nav-stacked{ data: { tabs: :tabs } }
      - unless user_got_started?
        %li
          = link_to "#get-started", class: 'main-item', data: { toggle: "tab" } do
            %i.icon-exclamation-sign
            = "Get Started"
            
      %li
        = link_to "#subscriptions", class: 'main-item', data: { toggle: "tab" } do
          %i.icon-star
          = "Subscriptions"
      
      / %li
      /   = link_to "#popular", class: 'main-item', data: { toggle: "tab" } do
      /     %i.icon-retweet
      /     = "Popular"
      / 
      / %li
      /   = link_to "#trending", class: 'main-item', data: { toggle: "tab" } do
      /     %i.icon-signal
      /     = "Trending"
          
    
    - unless @suggested_clouds.empty?
      %ul.unstyled.suggested-clouds
        %li.list-header
          %h6= "Clouds to join..."
        - @suggested_clouds.each do |cloud|
          %li
            .main
              .avatar-frame
                = link_to cloud_path(cloud) do ||
                  = image_tag cloud_avatar_path(cloud.avatar.thumb.url,:thumb), :class => 'avatar'
            
              %div
                %i.icon-user
                = cloud.member_count
              %div
                %i.icon-tint
                = Drop.only_visable.where("deposits.depositable_id" => cloud.id).count
              
            .details
              = link_to cloud.name, cloud_path(cloud)
              %p= cloud.description
            .btn-group
              = link_to "Join", cloud_members_path(cloud), method: :post, 'data-skip-pjax' => true, class: 'btn btn-small'
            
          
  .span12.tab-content
    - unless user_got_started?
      .tab-pane.dropzone#get-started
        = render :partial => 'get_started'
        
    .tab-pane.dropzone#subscriptions
      = render partial: 'drops/form', locals: { with_path: drops_path }
      %ul.drop-list
        = render partial: 'drops/list_content'
    .tab-pane.dropzone#popular
      / = render partial: 'drops/form', locals: { with_path: drops_path }
      / %ul.drop-list
      /   = render partial: 'drops/list_content'
    .tab-pane.dropzone#trending
      / = render partial: 'drops/form', locals: { with_path: drops_path }
      / %ul.drop-list
      /   = render partial: 'drops/list_content'
        
    
      