.page-header
  %h1
    .avatar-container
      = image_tag current_user.avatar.url
    = "Your Waterfall"
.row
  .span16
    = form_tag drops_path, method: :post, id: 'drop', class: 'form-stacked' do
      .clearfix
        .input
          = text_field_tag :url, "", placeholder: 'Share a URL with the world...'
          = submit_tag "Drop", class: 'btn'
            
.row
  .span16
    %ul.drop-list
      - @drops.each_with_index do |drop,i|
        %li{ class: i.even? ? 'favorite' : '' }
          %details
            .ratings
              - if current_user.vote_value(drop) == :up
                = link_to "", drop_vote_path(drop), method: :delete, class: 'selected up'
              - else
                = link_to "", drop_votes_path(drop,:up), method: :put, class: 'up'
                
              - if current_user.vote_value(drop) == :down
                = link_to "", drop_vote_path(drop), method: :delete, class: 'selected down'
              - else
                = link_to "", drop_votes_path(drop,:down), method: :put, class: 'down'
            %summary.main
              .icon
                - favicon_src = !drop[:metadata]["favicon"].nil? ? drop[:metadata]["favicon"] : 'icons/iconic/gray_dark/180_map_pin_fill_16x16.png'
                = image_tag favicon_src, class: drop[:metadata]["favicon"].nil? ? 'default' : ''
              = link_to drop.title, drop.url, target: '_blank', data: { 'skip-pjax' => true }
            %summary.sub
              .fav
                = link_to "", "/", remote: true
              %span= link_to drop.url, drop.url, target: '_blank', data: { 'skip-pjax' => true }
      