.page-header
  %h1
    .avatar-container
      = image_tag current_user.avatar.url
    = "Your Waterfall"
.row
  .span16
    = form_tag drops_path, method: :post, id: 'drop', class: 'form-stacked' do
      .clearfix
        .input
          = text_field_tag :url, "", placeholder: 'Share a URL with the world...'
          = submit_tag "Drop", class: 'btn'
            
.row
  .span16
    %ul.drop-list
      - @drops.each do |drop,i|
        = render :partial => 'drops/drop', locals: { drop: drop }
      