%h3= "There has been a request to reset your password."
%p= "If you're not the one who has made this request we encourage you to completely ignore this message. We also encourage you to go over your personal computer security as someone else has been trying to restore your account, using your email."
%p= "If, in fact it is you who has made the request, to use the verification code below or click the link to continue the proccess in a new window."

%center
  %h1= code

%h6= link_to "Reset Password", url, style: 'word-wrap: break-words', class: 'button'
