%a#freinds_refresh_trigger
%h4#friend_count= "#{@users.count} little #{@users.count > 1 ? 'ponies' : 'pony'} Online"
- @users.each do |user|
  .friend
    %h5.name= user.character.name
    %p.activity
      Last active
      = time_ago_in_words(user.last_activity)
      ago