= render :partial => 'layouts/alert'

= form_tag sessions_path, :method => :post, :class => 'form-search'  do
  .btn-group
    = link_to image_tag("icons/cloud/facebook_cloud.png"), "/auth/facebook", :class => 'btn btn-primary external-inline'
    = link_to image_tag("icons/cloud/twitter_cloud.png"), "/auth/twitter", :class => 'btn btn-primary external-inline'
  = text_field_tag :email, "",:placeholder => "Email"
  = password_field_tag :password, "",:placeholder => "Password"
  = submit_tag "Login", :class => 'btn btn-success', disable_with: 'Logging in...'
  
%nav.options
  = link_to "Restore", restore_path
  = link_to "Saddle up", register_path
  //= link_to "Help", "help"
  