%h1.logo= "Cloudsdale"
%h5.slogan= "The best place in the sky"

= form_tag sessions_path, :method => :post, :class => 'form-stacked'  do
  %center
    = render :partial => 'layouts/alert'
  %fieldset
    = text_field_tag :email, "",:placeholder => "Email"
    = password_field_tag :password, "",:placeholder => "Password"
    = submit_tag "Login\t»", :class => 'btn success'
    
%nav.options
  = link_to "Saddle up", register_path
  = link_to "Restore", login_path
  = link_to "Help", login_path
  