.row
	.span16
		%h3 Cloudsdale would not have been possible without:
		%p
			%b Zeeraw
			= "lead developer and project manager"
			%br
			%b Rainbow Dash
			= "for helping Zee as well as product management"
			%br
			%b Six Reader
			= "for maintaining the legal documents of the website (Terms & Conditions, Privacy Policy, etc) as well as performing other administrative functions"


		%h4 And with help from the following:

		%h5 Developers
		%p
			= "Berwyn"

		%h5 Testers
		%p
			= "Shansai"
			%br
			= "Gully"
			%br
			= "Zimber"

		%h5 PR Ponies
		%p
			= "Zimber"
			%br
			= "Ember"