%li{ data: { id: faq.id, position: faq.position } }
  - if can? :destroy, faq
    = link_to "×", faq_path(faq), method: :delete, class: 'remove-faq', remote: true
  - if can? :update, faq
    %span.position= faq.position
    %summary.question= best_in_place faq, :question
    %details.answer= best_in_place faq, :answer, display_as: :mk_answer, type: :textarea
  - if can? :read, faq and !can?(:update,faq)
    %span.position= faq.position
    %summary.question= faq.question
    %details.answer= faq.mk_answer