.page-header
  %h1 FAQ
  %p
    = "If you got any other questions, want to request features that you'd like to see on Cloudsdale or just show some appreciation, send an email to: "
    = mail_to("ask@cloudsdale.org")
    = " where we will try to answer your questions individually."

.row
  .span16
    = form_for @faq, :multipart => true, :validate => true, :url => user_path(@faq), :method => :put, :html => { :class => 'with_notifications' } do |f|
      .tab-content#my-tab-content
      .tab-pane#faq= render :partial => '_faq_tab', :locals => { f: f }
      .tab-pane#tnc= render :partial => '_tnc_tab', :locals => { f: f }
      .tab-pane#privacy= render :partial => '_privacy_policy_tab', :locals => { f: f }
      .tab-pane#contributors= render :partial => '_contributers_tab', :locals => { f: f }