.page-header
  %h1 FAQ
  %p
    = "If you got any other questions, want to request features that you'd like to see on Cloudsdale or just show some appreciation, send an email to: "
    = mail_to("ask@cloudsdale.org")
    = " where we will try to answer your questions individually."

.row
  .span16
    %ul.faqs.unstyled{ class: can?(:update, Faq) ? 'enable_sort' : ''}
      - @faqs.each do |faq|
        = render :partial => 'faq', locals: { faq: faq }

- if can? :create, @faq
  .row
    .span16
      = form_for @faq, remote: true, validate: true, html: { class: 'form-stacked' } do |f|
        %fieldset
          .control-group
            = f.label :question, "Question"
            .controls
              = f.text_field :question, class: 'xxlarge'
          .control-group
            = f.label :answer, "Answer"
            .controls
              = f.text_area :answer, class: 'xxlarge'
          .form-actions
            = f.submit "Save", :disable_with => 'Saving...', class: 'btn primary'
