.row
  .large-3.columns
    = render 'application_sidebar'
  .large-9.columns
    %ul.breadcrumbs
      %li= link_to "Applications", applications_path
      %li.current= "New"
    = simple_form_for @application, url: new_applications_path do |f|
      .content-panel
        .content-panel-inner
          .row
            .large-6.columns
              = f.input :name,           label: 'App Name'
              = f.input :redirect_uri,   label: 'Callback URL',     placeholder: "http://www.yourdomain.com/auth/callback"
            .large-6.columns
              %br
              %p.subheader
                = "Minimum requirements for your app is a name and a valid redirect URI."
                = "Without these your App cannot function properly."

      %br
      .content-panel
        .content-panel-inner.panel-expand
          = f.submit 'Create Application', :class => "button expand", :style => 'margin: 0;'

