%span.depositers
  = "Shared through "
  - deposits.each_with_index do |deposit,index|
    - if index < 3
      - if (deposit.depositable_type == "User")
        - path = user_path(deposit.depositable._id)
      - elsif (deposit.depositable_type == "Cloud")
        - path = cloud_path(deposit.depositable._id)
      - if path
        - unless deposits.first == deposit
          = ", "
        = link_to deposit.depositable.name, path
    - else
      = " and"
      = link_to "#{deposits.size - 2} more", "#"