%span.depositers
  - deposits.first.depositers.each_with_index do |depositer,index|
    - if index < 3
      - unless deposits.first.depositers.first == depositer
        = ", "
      = link_to depositer.name, user_path(depositer)
    - else
      = " and"
      = link_to "#{deposits.size - 2} more", "#"

  = " shared link #{depositable.is_a?(User) ? 'with' : 'on'} #{depositable.name}"