%li.drop{ id: drop.id, class: drop.strategy }
  = render :partial => "drops/strategies/#{drop.strategy}", locals: { drop: drop }

  %nav
    = render partial: 'drops/shares', locals: { drop: drop, deposits: deposits, depositable: depositable }
    %span.square-separator= "•"
    = drop_timestamp(drop,deposits,depositable)