= "Dropped "

- unless depositable
  - available_deposits = deposits.on_clouds
  - unless available_deposits.empty?
    - depositable = available_deposits.order_by('updated_at',:desc).first.depositable
    - unless depositable.nil?
      = "through "
      = link_to depositable.name, cloud_path(depositable)

- depositer = deposits.order_by('updated_at',:desc).map(&:depositers).flatten.uniq.first
- unless depositer.nil?
  = "by "
  - if depositer == current_user
    = dynamic_user_name(depositer)
  - else
    = link_to dynamic_user_name(depositer), user_path(depositer)