%span.score= drop.votes['point']

- if current_user.vote_value(drop) == :up
  - up_path = drop_vote_path(drop)
  - up_method = :delete
  - selected = "selected"
- else
  - up_path = drop_votes_path(drop,:up)
  - up_method = :put
  - selected = ""
  
= link_to up_path, method: up_method, remote: true, class: "drop-vote #{selected}" do
  %i.icon-chevron-up


- if current_user.vote_value(drop) == :down
  - down_path = drop_vote_path(drop)
  - down_method = :delete
  - selected = "selected"
- else
  - down_path = drop_votes_path(drop,:down)
  - down_method = :put
  - selected = ""


= link_to down_path, method: down_method, remote: true, class: "drop-vote #{selected}" do
  %i.icon-chevron-down
  