%fieldset
  .control-group
    = f.label :password, "Password"
    .controls
      = f.password_field :password, :placeholder => "New password..."
  .control-group
    = f.label :password_confirmation, "Confirmation"
    .controls
      = f.password_field :password_confirmation, :placeholder => "Confirm please..."
%fieldset
  - @user.authentications.each do |authentication|
    .control-group
      %label.with-image= image_tag("icons/cloud/#{authentication.provider}_cloud.png")
      .controls
        = link_to "Disconnect", authentication_path(authentication), :method => :delete, :class => 'btn btn-danger', 'data-skip-pjax' => true
        %span.help-inline
          %span.label
            = authentication.uid

  - auth_providers = @user.authentications.map {|a| a.provider }
  - unless auth_providers.include?("facebook")
    .control-group
      %label.with-image= image_tag("icons/cloud/facebook_cloud.png")
      .controls
        = link_to "Connect", "/auth/facebook", :class => 'btn btn-success', 'data-skip-pjax' => true
        

  - unless auth_providers.include?("twitter")
    .control-group
      %label.with-image= image_tag("icons/cloud/twitter_cloud.png")
      .controls
        = link_to "Connect", "/auth/twitter", :class => 'btn btn-success', 'data-skip-pjax' => true
        