%fieldset
  .clearfix
    = f.label :password, "Password"
    .input
      = f.password_field :password, :placeholder => "New password..."
  .clearfix
    = f.label :password_confirmation, "Confirmation"
    .input
      = f.password_field :password_confirmation, :placeholder => "Confirm please..."
%fieldset
  - @user.authentications.each do |authentication|
    .clearfix
      .input
        = link_to "Disconnect", authentication_path(authentication), :method => :delete, :class => 'btn error'
        = image_tag("icons/cloud/#{authentication.provider}_cloud.png")
        %span.help-inline
          %strong
            = "UID: "
            %span.label
              = authentication.uid

  - auth_providers = @user.authentications.map {|a| a.provider }
  - unless auth_providers.include?("facebook")
    .clearfix
      .input
        = link_to "Connect", "/auth/facebook", :class => 'btn success'
        = image_tag("icons/cloud/facebook_cloud.png")

  - unless auth_providers.include?("twitter")
    .clearfix
      .input
        = link_to "Connect", "/auth/twitter", :class => 'btn success'
        = image_tag("icons/cloud/twitter_cloud.png")