= form_for @user, :url => update_password_user_path(@user), method: :put, class: 'form-search' do |f|
  = f.password_field :password, :placeholder => "New Password"
  = f.password_field :password_confirmation, :placeholder => "Confirm..."
  = submit_tag "Change", :class => 'btn btn-info'
    
%nav.options
  = link_to "Saddle up", register_path
  = link_to "Log out", logout_path