.page-header.profile
  %h1
    .avatar-container
      - if @user.avatar.url
        = image_tag @user.avatar, :title => @user.character.name, :class => 'avatar'
      - else
        = image_tag "other/unknown_pony.jpg", :title => @user.character.name, :class => 'avatar'
    = "#{@user.name}'s Settings"
  
  %ul.tabs{ data: { tabs: :tabs } }
    %li.active= link_to "Profile", "#profile"
    %li= link_to "Avatar", "#avatar"
    %li= link_to "Account", "#account"
    %li= link_to "Security", "#security"
          
.row
  .span16
    = form_for @user, :multipart => true, :validate => true, :url => user_path(@user), :method => :put, :html => { :class => 'with_notifications' } do |f|
      .tab-content#my-tab-content
        .tab-pane#profile.active= render :partial => 'edit_profile_tab', :locals => { f: f }
        .tab-pane#avatar= render :partial => 'edit_avatar_tab', :locals => { f: f }
        .tab-pane#account= render :partial => 'edit_account_tab', :locals => { f: f }
        .tab-pane#security= render :partial => 'edit_security_tab', :locals => { f: f }
      
        %fieldset
          .actions
            = f.submit "Save", :class => 'btn primary'
