- unless controller_name == "users"
  = content_for :head do
    = stylesheet_link_tag "users"
    = javascript_include_tag "users"
    
#auth_window
  = form_for @user, :multipart => true, :validate => true  do |f|
    #user_credentials
      = f.fields_for :authentications do |authentications_form|
        = image_tag "icons/cloud/#{authentications_form.object.provider.downcase}_cloud.png"
        = authentications_form.hidden_field :uid
        = authentications_form.hidden_field :provider
      .field
        = f.text_field :email, :placeholder => "Email..."
      - if @user.authentications.empty?
        .field
          = f.password_field :password, :placeholder => "Choose password..."
        .field
          = f.password_field :password_confirmation, :placeholder => "Confirm password..."
      = f.submit "Register"
      %h4
        = link_to "Sign in", login_path
        or
        = link_to "Restore Account", restore_users_path
    #character_information
      .left
        = f.fields_for :character do |c_f|
          .field.name
            = c_f.text_field :name, :placeholder => "Pony name...", :original_value => "", :attribute_name => :name, :user_id => ""
          .field.options
            = c_f.select :kind, Character::KINDS.collect { |k| [k.capitalize, k] }
            = c_f.select :gender, Character::GENDERS.collect { |g| [g.capitalize, g] }
        .field.avatar
          = f.file_field :avatar
        
      
