- unless controller_name == "users"
  = content_for :head do
    = stylesheet_link_tag "users"
    
#auth_window
  = form_for @user do |f|

    = f.text_field :email, :placeholder => "Email", :disabled => @user.email.present?
    - if @user.email.present?
      = f.hidden_field :email
      
    = f.password_field :password, :placeholder => "Choose password..."
    = f.password_field :password_confirmation, :placeholder => "Confirm please..."
    = f.submit "Adventure!"
    = f.fields_for :authentications do |authentications_form|
      = image_tag "icons/cloud/#{authentications_form.object.provider.downcase}_cloud.png"
      = authentications_form.hidden_field :uid
      = authentications_form.hidden_field :provider

      
    