%h1.logo= "Cloudsdale"
%h5.slogan= "The best place in the sky"

= form_for @user, :multipart => true, :validate => true  do |f|
  = f.fields_for :authentications do |authentications_form|
    = authentications_form.hidden_field :uid
    = authentications_form.hidden_field :provider
  %center
    = render :partial => 'layouts/alert'
  %fieldset.active
    - @user.authentications.each do |authentication|
      %span.auth_cloud.twitter
    = f.text_field :email, placeholder: "Email"
    - if @user.authentications.empty?
      = f.password_field :password, placeholder: "Password"
      = f.password_field :password_confirmation, placeholder: "Confirm"
    = link_to "#", :class => 'btn success form_part_next' do
      = "Next\t»"
  %fieldset
    = f.fields_for :character do |c_f|
      = link_to "«\tPrevious", "#", :class => 'btn info form_part_previous'
      = c_f.text_field :name, :original_value => "", :attribute_name => :name, :user_id => "", :placeholder => "Display Name"
      = c_f.select :kind, Character::KINDS.collect { |k| [k.capitalize, k] }
      = c_f.select :gender, Character::GENDERS.collect { |g| [g.capitalize, g] }
      = f.submit "Register", :class => 'btn success'

%nav.options
  = link_to "Login", login_path
  = link_to "Restore", register_path
  = link_to "Help", register_path


