.page-header.profile
  %h1
    .avatar-container
      = image_tag user_avatar_path(@user.avatar.url), :title => @user.name, :class => 'avatar'
    = @user.name
    %span.subscribers= @user.subscriber_ids.count
  %nav
    - unless @user == current_user
      - if @user.subscribers.include?(current_user)
        = link_to user_subscriber_path(@user,current_user), method: :delete, 'data-skip-pjax' => true do
          %span.unsubscribe= "Unsubscribe"
      - else
        = link_to user_subscribers_path(@user), method: :post, 'data-skip-pjax' => true do
          %span.subscribe= "Subscribe"
    - if can? :update, @user
      = link_to edit_user_path(@user) do
        %span.settings= "Settings"
    
.dropzone
  .row
    .span16
      = render partial: 'drops/form', locals: { with_path: user_drops_path(@user) }
            
  .row
    .span4
      %ul.drop-facet-list
        %li.list-head= "Dropzone"
        %li= link_to "Most Recent", user_path(@user), class: 'most-recent'
        %li= link_to "Top Rated", user_path(@user,sort:'top_rated'), class: 'top-rated'
        %li= link_to "Most Visited", user_path(@user,sort:'most_visited'), class: 'most-visited'
    .span12
      %ul.drop-list
        = render partial: 'drops/list_content', locals: { depositable: @user }
      = paginate @drops
          