#show_character_information
  #character_card
    - if @user.avatar
      = image_tag @user.avatar, :title => @user.character.name
    - else
      = image_tag "other/unknown_pony.jpg", :title => @user.character.name
      
    %h3= @user.character.name
    %p
      - if @user.is_online?
        %span{ :class => "online"}= "Online"
        %br
        = "Last activity #{time_ago_in_words(@user.last_activity)} ago"
      - else
        %span{ :class => "offline"}= "Offline"
        %br
        = "Last activity #{time_ago_in_words(@user.last_activity)} ago"