#show_character_information
  #character_card
    - if @user.avatar.url
      = image_tag @user.avatar, :title => @user.character.name
    - else
      = image_tag "other/unknown_pony.jpg", :title => @user.character.name
      
    %h3= @user.character.name
    %p
      - if @user.is_online?
        %span{ :class => "online"}= "Online"
        %br
        = "Last activity #{time_ago_in_words(@user.last_activity)} ago"
      - else
        %span{ :class => "offline"}= "Offline"
        %br
        = "Last activity #{time_ago_in_words(@user.last_activity)} ago"
  - if @user == current_user
    %ul#user_actions
      %li.profile= link_to "Edit Profile", edit_user_path(@user)
      /%li.message= link_to "Message", ""
  - else
    %ul#user_actions
      %li.subscribe= link_to "Subscribe", ""
      %li.message= link_to "Message", ""
  
  %ul#recent_activity
    %lh
      %span= "Recent activity:"
    - @user.activities.order(:timestamp => :desc).each do |activity|
      %li
        = link_to activity.text, activity.url
        %span.time= "#{time_ago_in_words(activity.timestamp).capitalize} ago"