#show_character_information
  #character_card
    - if @user.avatar.url
      = image_tag @user.avatar, :title => @user.character.name
    - else
      = image_tag "other/unknown_pony.jpg", :title => @user.character.name
      
    %h3= @user.character.name
    %p
      - if @user.is_online?
        %span{ :class => "online"}= "Online"
        %br
        = "Last activity #{time_ago_in_words(@user.last_activity)} ago"
      - else
        %span{ :class => "offline"}= "Offline"
        %br
        = "Last activity #{time_ago_in_words(@user.last_activity)} ago"
  %ul#user_actions
    %li.subscribe= link_to "Subscribe", ""
    %li.message= link_to "Message", ""
  
  %ul#recent_activity
    %lh Recent activity:
    %li
      = link_to "Changed avatar", ""
      %span.time= "#{time_ago_in_words(5.minutes.ago).capitalize} ago"
    %li
      = link_to "Made an update to fanfic: \"Cupcakes\"", ""
      %span.time= "#{time_ago_in_words(8.hours.ago).capitalize} ago"
    %li
      = link_to "Uploaded fanfic: \"Cupcakes\"", ""
      %span.time= "#{time_ago_in_words(2.days.ago).capitalize} ago"