%br
.row
  .large-6.large-centered.columns
    .row.auth-header
      .large-5.small-5.columns
        .auth-icon{ style: 'float: left;' }= image_tag current_user.avatar.url
      .large-5.small-5.columns
        .auth-icon.auth-icon-default{ style: 'float: right;' }= image_tag "icon/icon_auth_gray.png"
%br
.row
  .large-6.large-centered.columns
    .content-panel
      .content-panel-inner
        .row
          .large-8.small-12.large-centered.columns
            %br
            %h3= "Vertify Registration"
            %br
            = simple_form_for @registration, url: register_verification_path, method: :put do |f|
              = f.input :verify_token, label: false, placeholder: "Verification Code", input_html: { style: 'text-align: center;'}
              %br
              = f.submit "Verify", class: 'button notice expand'
              = f.submit "Resend Code", class: 'button secondary expand'
