.page-header
  %h2= "Contribute"
  %p.lead= "If you're interested in joining the Crew there are currently the following posiitons open."
  %p= "Cloudsdale is a non-profit organization and every member of the crew do this for their own pleasure."

.row
  .span6
    %h3= "Backend Developer"
    %p= "We are currently looking for a Ruby on Rails developer to help us out rolling out our public API, secure & refactor our current codebase as well as developing new features in the future."
    %p= "You should have at least six months of experience with Ruby on Rails and love the framework and the language will all your heart."
    %p
      = "Ready to write some very meta database queries? contact us at:"
      = mail_to "info@cloudsdale.org"
  .span6
    %center
      = image_tag "http://itekblog.com/wp-content/uploads/2012/07/railslogo.png"
      / .span4= image_tag "contribute/node_js.png"

%br
%br
%br

.row
  .span6
    %h3= "Front-end Designer"
    %p= "We want a front-end developer to tweak those margins and improve the user experience across the board."
    %p= "You should be well versed with the latest front-end web design, do vector art in your spare time, have started replacing your mug of coffee with a file of CoffeeScript in the morning, and there's nothing you like more than having jQuery point the direction."
    %p
      = "Itching to try out some CSS3 tricks you just found on a design blog? contact us at:"
      = mail_to "info@cloudsdale.org"
  .span6
    %center
      = image_tag "http://backbonejs.org/docs/images/backbone.png"
      = image_tag "http://jquery.org/wp-content/uploads/2010/01/JQuery_logo_color_onwhite-300x74.png"

