.row
  .span12
    %article
      %h3= "Hello Dear Friend,"

      %p= "Welcome to Cloudsdale! If you’re here, you're probably wondering who we are and what we're about.  At Cloudsdale we strive to be a central place on the web where cool people like you and I can have fun, get to know each other, and meet new friends."

      %p= "To achieve this goal, we're providing this non-profit service where everyone can have a good time.  The Crew of Cloudsdale want to be ahead of the curve, redefining how regular people - just like you and me - use the web in every day life. A part of this is making Cloudsdale all about interacting in real time.  To this end, we’ve built a fast, elegant and accessible system that transcends many of the big corporate services out there."

      %p= "Now that you know a bit about who we are and what we want, are you ready to join the party?"

      %p
        = "Yours truly,"
        %span= "Zeeraw"

  %br
  %br

  / %ul.thumbnails
  /   %li.span3
  /     .thumbnail
  /       = image_tag("contributors/zeeraw.png")
  /       .caption
  /         %h6.info-contributor-name= "Zeeraw"
  /         %span.badge.badge-warning= "Founder"

  /   %li.span3
  /     .thumbnail
  /       = image_tag("contributors/lisinge.png")
  /       .caption
  /         %h6.info-contributor-name= "Lisinge"
  /         %span.badge.badge-success= "Server Technician"

  /   %li.span3
  /     .thumbnail
  /       = image_tag("contributors/aethe.png")
  /       .caption
  /         %h6.info-contributor-name= "Aethe"
  /         %span.badge.badge-success= "iOS Developer"

  /   %li.span3
  /     .thumbnail
  /       = image_tag("contributors/berwyn.png")
  /       .caption
  /         %h6.info-contributor-name= "Berwyn"
  /         %span.badge.badge-success= "Android Developer"

  /   %li.span3
  /     .thumbnail
  /       = image_tag("contributors/connorcpu.png")
  /       .caption
  /         %h6.info-contributor-name= "ConnorCPU"
  /         %span.badge.badge-success= "Windows Phone Developer"
