%header
  %h1= "Privacy Policy"
  %h5= "Last Updated: #{TNC_TIMESTAMP.strftime("%y-%m-%d")}"

%article
  %h5= "What information do we collect?"
  %p= "We collect the information which you fill in on our site. This includes registration, commenting on posts and using our chat function."

  %p= "Note: We strive to create a global community with consistent standards for everyone, but we also try to respect local laws. The following provision applies to users outside the United States: You consent to having your personal data transferred to and processed in the United States."

  %h5= "What do we use your information for?"
  %p= "Any of the information we collect from you may be used in the following ways:"

  %ul
    %li= "To personalize your experience (your information helps us to better respond to your individual needs)"

    %li= "To improve our website (we continually strive to improve our website's offerings based on the information and feedback we receive from you)"

    %li= "To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)"

    %li= "To send periodic emails."

    %li= "The email address you provide at registering, may be used to send information and updates about your account and/or the site, in addition to receiving occasional news, service information, or administrative information, etc."
    %li= "To administer a contest, promotion, survey or other site features"


  %h5= "How do we protect your information?"
  %p= "We implement a variety of security measures to maintain the safety of your personal information when making use of our services."

  %h5= "Do we use cookies?"
  %p= "Yes, we use cookies to preserve your preferences. If you don't like our cookies then go to the Internet Options in your web browser and disable the function."

  %h5= "Do we disclose any information to outside parties?"
  %p= "We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties. We may release your information when we believe release is appropriate to comply with the law, to enforce our site policies, or to protect ours or others rights, property or safety. However, non personally identifiable visitor information may be provided to other parties for member count or other uses."

  %h5= "Third party links"
  %p= "Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites."

  %h5= "Online Privacy Policy Only"
  %p= "This online privacy policy applies only to information collected through our website and not to information collected offline."
  %h5= "Terms and Conditions"
  %p= "Please visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website here: Terms and Conditions"
  %h5= "Your consent"
  %p= "By using our site, you consent to our privacy policy. We are also allowed to change your profile picture at any given time to: http://tinyurl.com/5t6vzv9"
  %h5= "Changes to our Privacy Policy"
  %p= "If we decide to change our privacy policy, you'll be automatically logged out and are prompted to accept the edited privacy policy. If you don't want to accept the new privacy policy then you're given the option to delete your account."

  %h5= "Contacting us"
  %p= "If there are any questions regarding the privacy policy you may contact us using the email below."

  = mail_to "info@cloudsdale.org"



