%ul.social-connect
.row-fluid
  .span12.root-get-started

%h2= "Connect in Realtime"
.row-fluid{ style: 'border-bottom: 1px solid #EEE;'}
  .span12
    .pull-left.root-mascot.root-mascot-clock= image_tag("mascot/cloudzephyr-trot-clock-full.png")
    %p.lead= "Cloudsdale provides reliable realtime communication, around the clock. Free yourself from the old-fashioned way of systematically refreshing the page and receive every single update instantly."
    %p.lead= "We deliver the raw power of the modern web tempered by the grace of good design to you, our beloved users."

%h2= "Meet new Friends"
.row-fluid{ style: 'border-bottom: 1px solid #EEE;'}
  .span12
    .pull-right.root-mascot.root-mascot-friends= image_tag("mascot/cloudzephyr-friend-full.png")
    %p.lead= "Join over 10,000 diverse and interesting people, some of whom may be very similar to you. Cloudsdale is all about embracing the community and allows you to effectively gather as a group."
    %p.lead= "Over time, we've had a lot of people meeting, getting to know each other and performing astounding achievements all while using this service."

%h2= "Take it with you wherever you go"
.row-fluid
  .span12
    .clearfix
      .pull-left.root-mascot.root-mascot-mobile= image_tag("mascot/cloudzephyr-saddlebag-full.png")
      %p.lead= "Here we want to ensure that you, our users, can rely on always being able to join or bring your friends when you're on the go."
      %p.lead= "We provide beautiful, easy to use mobile applications for the platform of your choice."
    %ul.unstyled.mobile-download-list
      %li
        %a.btn.btn-special.root-download.root-download-ios{ href: "itms://itunes.apple.com/us/app/cloudsdale/id567369714?ls=1mt=8ign-mscache=1" }
          = "Download for iOS"
          %br
          %small= "(Requires iOS 5 or later)"
      %li
        %a.btn.btn-special.root-download.root-download-android{ href: "mailto:berwyn@cloudsdale.org" }
          = "Opt-in for Android"
          %br
          %small= "(Requires 2.2 Froyo or later)"
      %li
        %a.btn.btn-special.root-download.root-download-wp7{ href: "mailto:info@cloudsdale.org" }
          = "Opt-in for WP7"
          %br
          %small= "(Requires 7.5 Mango or later)"
