.tncs
  .header
    %h2= "Terms & Conditions"
    %h5= "Last Updated: #{TNC_TIMESTAMP.strftime("%y-%m-%d")}"

  .body
    %article
      %hgroup
        %h3 Terms &amp; Conditions
        %h5.disclaimer PLEASE READ THE FOLLOWING TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SERVICE

      %p= "All users of the service agree that access to and use of this service are subject to the following terms and conditions and other applicable law. If you do not agree to these terms and conditions, please navigate away from the service."

      %h5 Copyright
      %p= "The entire content of this site (including, but not limited to, text, graphics, and code), excluding user generated content, is copyrighted as a collective work under the copyright laws of the United States and other countries. All of the aforementioned material is copyrighted © 2011, 2012 Cloudsdale.org, all rights reserved."
      %p= "My Little Pony: Friendship is Magic is the property of Hasbo inc."

      %h5 Trademarks
      %p= "All trademarks, service marks and trade names of Cloudsdale.org are trademarks of Cloudsdale.org."

      %h5 Warranty disclaimer
      %p= "This site and the materials and products on this site are provided \"as is\" and without warranties of any kind, whether express or implied. To the fullest extent permissible pursuant to applicable law, Cloudsdale.org disclaims all warranties, expressed or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement. Cloudsdale.org does not represent or warrant that the functions contained in the site will be uninterrupted or error-free, that the defects will be corrected, or that this site or the server that makes the site available are free of viruses or other harmful components. Cloudsdale.org does not make any warranties or representations regarding the use of the materials in this site in terms of their correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise. Some countries do not permit limitations or exclusions on warranties, so the above limitations may not apply to you."

      %h5 Limitations of Liability
      %p= "Cloudsdale.org shall not be liable for any special or consequential damage that results from the use of, or the inability to use, the services and products offered on this site, or the performance of these services and products."

      %h5 Term Termination
      %p= "These terms and conditions are applicable to you upon accessing the site and/or completing the registration process. These terms and conditions, or any part of them, may be terminated by Cloudsdale.org without notice at any time, for any reason. The provisions relating to Copyrights, Trademark, Disclaimer, Limitation of Liability and Indemnification, shall survive any termination."

      %h5 Notice
      %p= "Cloudsdale.org may deliver notice to you by means of e-mail, a general notice on the site, or by other reliable methods to the address you have provided to Cloudsdale.org."

      %h5 Use of Site
      %p= "Harassment in any manner or form on the site, including but not limited to e-mail, chat, or by use of obscene or abusive language, is strictly forbidden. Impersonation of others, including a Cloudsdale.org or other licensed volunteer, host, or representative, as well as other members or visitors on the site is prohibited. "
      %p= "You may not upload to, distribute, or otherwise publish through the site any content which is libelous, defamatory, obscene, threatening, invasive of privacy or publicity rights, abusive, illegal, or otherwise objectionable which may constitute or encourage a criminal offense, violate the rights of any party or which otherwise give rise to liability or violate any law. Your behaviour may be corrected by any Cloudsdale.org or other licensed volunteer, host, or representative. If you refuse to abide or refuse to follow the decision of any representative, you will get a warning, followed by removal of your subscription to our site after a counsel."
      %p= "Cloudsdale.org is a family friendly site, and as such we DO NOT accept or allow the following types of sites into our program: Gambling, adult content (including but not limited to pornography and sites containing adult-oriented advertisement), pharmaceutical content (e.g. Viagra, female enhancement, etc.), derogatory content, link farms or spam sites. Engaging in any of the above content in any medium not approved for unrated content will result in an immediate ban, and possibly termination of your account."
      %p= "Cloudsdale.org reserves the right to suspend service to, or to remove your account from the service at its discression."

      %h5 Viruses, hacking and other offences
      %p= "You must not misuse the service by introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the service, the servers on which the service is hosted or any servers, computers or databases connected to our site. You must not attack the service via a denial-of-service attack or a distributed denial-of service attack. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately."

      %h5 Participation Disclaimer
      %p= "Cloudsdale.org does not and cannot review all communications and materials posted to or created by users accessing the site, and is not in any manner responsible for the content of these communications and materials. You acknowledge that by providing you with the ability to view and distribute user-generated content on the site, Cloudsdale.org is merely acting as a passive conduit for such distribution and is not undertaking any obligation or liability relating to any contents or activities on the site. However, Cloudsdale.org reserves the right to block or remove communications or materials that it determines to be (a) abusive, defamatory, or obscene, (b) fraudulent, deceptive, or misleading, (c) in violation of a copyright, trademark or; other intellectual property right of another or (d) offensive or otherwise unacceptable to Cloudsdale.org in its sole discretion."

      %h5 Indemnification
      %p= "You agree to indemnify, defend and hold harmless Cloudsdale.org and anyone doing work for Cloudsdale.org from and against all losses, expenses, damages and costs, including reasonable attorney’s fees, resulting from any violation of these terms and conditions or any activity related to your account (including negligent or wrongful conduct) by you or any other person accessing the site using your Internet account."

      %h5 Third-Party Links
      %p= "In an attempt to provide increased value to our visitors, Cloudsdale.org may link to sites operated by third parties. However, even if the third party is affiliated with Cloudsdale.org, Cloudsdale.org has no control over these linked sites, all of which have separate privacy and data collection practices, independent of Cloudsdale.org. These linked sites are only for your convenience and therefore you access them at your own risk. Nonetheless, Cloudsdale.org seeks to protect the integrity of its website and the links placed upon it and therefore requests any feedback on not only its own site, but for sites it links to as well (including if a specific link does not work)."

      %h5 Changes to our Terms and Conditions
      %p= "If we decide to change our Terms and Conditions, you'll be automatically logged out and are prompted to accept the edited Terms and Conditions. If you don't want to accept the new Terms and Conditions you're given the option to delete your account."

  .actions
    %a{ href: 'cloudsdale:tncs?reject', class: 'btn btn-danger' }
      Reject

    %a{ href: 'cloudsdale:tncs?accept', class: 'btn btn-success' }
      Accept

