%br
.row
  .large-6.large-centered.columns
    .content-panel
      .content-panel-inner.panel-expand
        .row
          %br
          %br
          %center
            %h3.subheader= "Change Password"

        %br
        .row
          .large-8.small-12.large-centered.columns
            %div{ style: 'margin: 20px;' }
              = simple_form_for @password_reset, url: password_change_path, method: :put do |f|
                = f.input :password, as: :password, label: false, placeholder: "New Password"
                %br
                = f.submit "Save Password", class: 'button success expand'

        = render 'layouts/auth_nav', show_login: true, show_register: true
