%li.thumbnail.span4
  .thumbnail-main.clearfix
    .float-left
      = link_to cloud_path(cloud) do
        = image_tag cloud_avatar_path(cloud.avatar.thumb.url,:thumb), :title => cloud.name, :class => 'avatar'
    %div
      %i.icon-user
      = cloud.member_count
    %div
      %i.icon-tint
      = Drop.only_visable.where("deposits.depositable_id" => cloud.id).count

  .caption
    %h5= link_to cloud.name, cloud_path(cloud)
    %p= cloud.description
  %nav
    .btn-group
      - if cloud.users.include?(current_user)
        = link_to "Leave", cloud_member_path(cloud,current_user), method: :delete, 'data-skip-pjax' => true, class: 'btn btn-mini btn-danger'
      - else
        = link_to "Join", cloud_members_path(cloud), method: :post, 'data-skip-pjax' => true, class: 'btn btn-mini'