.page-header
  %h1
    = @cloud.name
    %small= @cloud.description
  .row
    .span12.offset4
      %ul.tabs
        %li.active= link_to "Feed", cloud_path(@cloud)
        %li= link_to "Members", cloud_path(@cloud, tab: 'members')

.row.show_cloud
  .span4.left
    - unless @cloud.owner == current_user
      - if @cloud.users.include?(current_user)
        = link_to "Leave", cloud_member_path(@cloud,current_user), method: :delete, :class => 'btn error', 'data-skip-pjax' => true
      - else
        = link_to "Join", cloud_members_path(@cloud), method: :post, :class => 'btn success', 'data-skip-pjax' => true
    - else
      = link_to "Settings", edit_cloud_path(@cloud), class: 'btn'
  .span12.right
    %h6= "To be added..."