<div class="main-header">
  <div class="row">
    <div class="small-12 large-12 columns">

      <div class="right">
        <a {{action 'remove'}} ><i class="action-icon-remove"></i></a>
      </div>

      <h1>{{model.topic.displayName}}</h1>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="small-12 large-12 columns">

      {{#each messages}}
        <div class="left avatar small content">
          <img {{bindAttr src="this.author.avatar"}} />
        </div>
        <h6>{{this.author.displayName}} <small>@{{this.author.username}}</small></h6>
        <p>{{this.content}}</p>
      {{/each}}

    </div>
  </div>
</div>