<div class="small-12 large-12 columns">
  {{#if isFirst}}
    <div class="message-side">
      <div class="left avatar small">
        {{#link-to 'messages' handle}}<img {{bindAttr src="avatar"}} />{{/link-to}}
      </div>
    </div>
  {{/if}}

  <div class="message-box">
    {{#if isFirst}}
      <h6>{{#link-to 'messages' handle}}{{name}} <small>@{{handle}}</small>{{/link-to}}</h6>
    {{/if}}
    <p>
      {{#if canManipulate}}
        <span class="message-meta message-actions">
          <a {{action 'editMessage' id}}>Edit</a> or
          <a {{action 'removeMessage' id}}>Remove</a>
        </span>
      {{/if}}
      <span class="message-meta message-status">
        {{#if isEdited}}edited at{{/if}} {{messageStatus}}
      </span>
      {{{text}}}
      {{this}}
    </p>
  </div>
</div>