<div class="small-12 large-12 columns">
  {{#unless hasSameAuthorAsPrevious}}
    <div class="message-side">
      <div class="left avatar small">
        {{#link-to 'messages' handle}}<img {{bindAttr src="avatar"}} />{{/link-to}}
      </div>
    </div>
  {{/unless}}

  <div class="message-box">
    {{#unless hasSameAuthorAsPrevious}}
      <h6>{{#link-to 'messages' handle}}{{name}} <small>@{{handle}}</small>{{/link-to}}</h6>
    {{/unless}}
    <p>
      <span class="message-meta message-actions">
        {{#if canEdit}}<a {{action 'editMessage' id}}>Edit</a> or{{/if}}
        {{#if canRemove}}<a {{action 'removeMessage' id}}>Remove</a>{{/if}}
      </span>
      <span class="message-meta message-status">
        {{#if isEdited}}edited at{{/if}} {{messageStatus}}
      </span>
      {{{text}}}
    </p>
  </div>
</div>