<div class="small-12 large-12 columns">
  {{#unless hasSameAuthorAsPrevious}}
    <div class="left avatar small content">
      {{#link-to 'messages' handle}}<img {{bindAttr src="avatar"}} />{{/link-to}}
    </div>
    <br />
  {{/unless}}

  <div class="message-box">
    {{#unless hasSameAuthorAsPrevious}}
      <h6>{{#link-to 'messages' handle}}{{name}} <small>@{{handle}}</small>{{/link-to}}</h6>
    {{/unless}}
    <p>
      <span class="message-status">
        {{#if isEdited}}edited at{{/if}}
        {{messageStatus}}
      </span>
      {{{text}}}
    </p>
  </div>
</div>