{{view Cloudsdale.Sidebar.UserView}}

<ul class="sidebar-items">
  <li class="sidebar-item">
    <span>
      <img class="left" {{bindAttr src="view.images.dashboard"}}/>
      {{#linkTo 'root'}}Cloudsdale Dashboard{{/linkTo}}
    <span>
  </li>
  <li class="sidebar-item">
    <span>
      <img class="left" {{bindAttr src="view.images.cloudGaze"}}/>
      {{#linkTo 'gaze'}}Cloud Gaze™{{/linkTo}}
    <span>
  </li>
  <li class="sidebar-item">
    <span>
      <img class="left" {{bindAttr src="view.images.settings"}}/>
      {{#linkTo 'settings'}}Account Settings{{/linkTo}}
    <span>
  </li>
</ul>

<div class="sidebar-divider"></div>

{{view Cloudsdale.Sidebar.ConversationsView}}

<div class="sidebar-divider"></div>
