= content_for :head do
  = javascript_include_tag "#{Cloudsdale.config['url']}:#{Cloudsdale.config['faye_port']}/faye.js"

#chat_frame
  #deadzone
  
  
#chat_ponies
#chat_bar
  = form_tag chat_messages_path, remote: true, id: 'new_message' do
    = text_field_tag :message
    = hidden_field_tag :sender, current_pony.name
    = hidden_field_tag :channel, "chat"
    = submit_tag "Send"
    
  
  