%header
  %span.icon
    - favicon_src = !drop.src_meta["favicon"].nil? ? drop.src_meta["favicon"] : 'icons/iconic/gray_dark/180_map_pin_fill_16x16.png'
    = image_tag favicon_src, class: drop.src_meta["favicon"].nil? ? 'default' : ''
  = link_to truncate(drop.title, :length => 45), drop.url, target: '_blank', data: { 'skip-pjax' => true }

.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if drop.preview.banner.url
        = image_tag drop.preview.banner.url, :title => drop.title
      - elsif drop.preview.thumb.url
        = image_tag drop.preview.thumb.url, :title => drop.title
      - elsif drop.preview.url
        = image_tag drop.preview.url, :title => drop.title
        
  = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'main-url info-block' do
    %i.icon-white.icon-tint
    = truncate(drop.url, :length => 60)