%header
  = link_to drop.title, drop.url
  .floatleft
    = link_to drop.url, class: 'preview' do
      - unless drop[:metadata]['avatar'].nil?
        = image_tag drop[:metadata]['avatar'], :title => drop.title
  .info
    - unless drop[:metadata]['subscriber_count'].nil?
      %span.subscriber-count= drop[:metadata]['subscriber_count']
      = " Subscribers"
    / - unless drop[:metadata]['member_since'].nil?
    /   %span.member-since= drop[:metadata]['member_since']