%header
  = link_to drop.title, drop.url
.drop-content
  .float-left
    = link_to drop.url, class: 'preview' do
      = image_tag user_avatar_path(drop.src_meta['avatar'],:preview), :title => drop.title, onerror: "this.onerror = null; this.src='#{user_avatar_path(nil,:preview)}'"
  .info
    - unless drop.src_meta['subscribers_count'].nil?
      %span.subscriber-count= "#{drop.src_meta['subscribers_count']} Subscribers"
    - unless drop.src_meta['member_since'].nil?
      %span.member-since= "Joined on #{drop.src_meta['member_since'].strftime("%e %b %Y")}"