%header
  = link_to truncate(drop.title, :length => 45), drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'title'

.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      = render :partial => 'drops/preview_image', locals: { drop: drop }
      
  .info
    - unless drop.src_meta['mime_type'].nil?
      %span.mimetype= drop.src_meta['mime_type'].sub(/^image\//,"").upcase
    - unless drop.src_meta['image_height'].nil? and drop.src_meta['image_width'].nil?
      %span.sizes= "#{drop.src_meta['image_width']} × #{drop.src_meta['image_height']}"