%header  
  = link_to truncate(drop.title, :length => 60), drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'title'
.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if image_tag drop.preview.url
        = image_tag drop.preview.url, :title => drop.title

  .info
    - unless drop.src_meta['page_count'].nil?
      %span.pages= "#{drop.src_meta['page_count']} pages"
    - unless drop.src_meta['pdf_version'].nil?
      %span.version= "PDF Version: #{drop.src_meta['pdf_version']}"
      
    