%header
  .floatleft
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if image_tag drop.preview.url
        = image_tag drop.preview.url, :title => drop.title
  %h5= link_to truncate(drop.title, :length => 40), drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'title'

  - unless drop[:metadata]['page_count'].nil?
    .info    
      %span= "Pages:"
      = drop[:metadata]['page_count']
      
  - unless drop[:metadata]['pdf_version'].nil?
    .info
      %span= "PDF Version:"
      = drop[:metadata]['pdf_version']
    