%header
  = image_tag "icons/remote_fav/soundcloud.ico"
  = link_to drop.title, drop.url, target: '_blank', data: { 'skip-pjax' => true }
.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if drop.preview.url
        = image_tag drop.preview.url, :title => drop.title
  .info
    - unless drop[:metadata]['author'].nil?
      = "By "
      %span= drop[:metadata]['author']
    - unless drop[:metadata]['genre'].nil?
      %span.genre= "#{drop[:metadata]['genre']}"
  - unless drop[:metadata]['description'].nil?
    %p= truncate(drop[:metadata]['description'], :length => 150)
	