%header
  = image_tag "icons/remote_fav/soundcloud.ico"
  = link_to truncate(drop.title, :length => 45), drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'title'
.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if drop.preview.url
        = image_tag drop.preview.thumb.url, :title => drop.title
      - else
        = image_tag "artwork/soundcloud-logo.png"
  .description
    - unless drop.src_meta['full_name'].nil?
      %span= drop.src_meta['full_name']
    - unless drop.src_meta['country'].nil?
      %span.location= drop.src_meta['country']
    - unless drop.src_meta['description'].nil?
      %p= truncate(drop.src_meta['description'], :length => 150)