%header
  = image_tag "icons/remote_fav/youtube.ico", :title => "title", :class => "class"
  = link_to truncate(drop.title, :length => 65), drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'title'
.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if image_tag drop.preview.url
        = image_tag drop.preview.url, :title => drop.title
  
  .info
    - unless drop[:metadata]['upload_date'].nil?
      = "Uploaded "
      - if drop[:metadata]['upload_date'].is_a? String
        %span= drop[:metadata]['upload_date']
      - else
        %span= drop[:metadata]['upload_date'].strftime("%e %b %Y")
    - unless drop[:metadata]['author'].nil?
      = " by "
      %span= drop[:metadata]['author']

  - unless drop[:metadata]['description'].nil?
    %p= truncate(drop[:metadata]['description'], :length => 150)