%header
  = image_tag "icons/remote_fav/youtube.ico"
  = link_to truncate(drop.title, :length => 60), drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'title'
.drop-content
  .float-left
    = link_to drop.url, target: '_blank', data: { 'skip-pjax' => true }, class: 'preview' do
      - if drop.preview.thumb.url
        = image_tag drop.preview.thumb.url, :title => drop.title
  
  .info
    - unless drop.src_meta['upload_date'].nil?
      = "Uploaded "
      - if drop.src_meta['upload_date'].is_a? String
        %span= drop.src_meta['upload_date']
      - else
        %span= drop.src_meta['upload_date'].strftime("%e %b %Y")
    - unless drop.src_meta['author'].nil?
      = " by "
      %span= drop.src_meta['author']

  - unless drop.src_meta['description'].nil?
    %p= truncate(drop.src_meta['description'], :length => 126)