= form_for @dispatch, url: admin_dispatch_path(@dispatch), multipart: true do |f|
  .row
    .large-12.columns
      .content-panel
        .content-panel-inner
          = f.label :subject
          = f.text_field :subject
          %br
          .row
            .large-4.columns
              = f.label :banner
              = f.file_field :banner, style: 'button'
              %br
              %br
            .large-8.columns
              .panel
                - if @dispatch.banner.present?
                  = image_tag @dispatch.banner.url

  %br
  .row
    .large-12.columns
      .content-panel
        .content-panel-inner.panel-expand
          = f.text_area :body
          #editor

  %br
  .row
    .large-12.columns
      .content-panel
        .content-panel-inner
          = f.submit "Save",class: 'button small', style: 'margin: 0;'
          = f.submit "Save & Test", class: 'button small secondary', style: 'margin: 0;'
          = f.submit "Save & Publish", class: 'button small success', style: 'margin: 0;'

