<div class="spotlight">
  <div class="spotlight-inner">
    <div class="row">
      {{#view Cloudsdale.Gaze.Spotlight.ColumnView columnType="avatar"}}
        <div class="spotlight-padding">
          <span class="spotlight-avatar avatar loading"><img {{bindAttr src="target.avatar"}}></span>
        </div>
      {{/view}}
      {{#view Cloudsdale.Gaze.Spotlight.ColumnView columnType="info"}}
        <div class="spotlight-padding" style="margin-top:15px;margin-bottom:15px;">
          <h6>
            {{#linkTo 'profile' target.handle}}
              {{target.displayName}}
              <small> @{{target.handle}}</small>
            {{/linkTo}}
            <span class="right spotlight-category">
              {{category}}
            </small>
          </h6>
          <p>{{text}}</p>
        </div>
      {{/view}}
    </div>
  </div>
</div>