- if flash[:notice]
  - if flash[:notice].is_a?(Hash)
    .alert{ :class => "alert-#{flash[:notice]['category']}" }
      = link_to "×","#", :class => 'close', data: { dismiss: "alert" }
      %strong= flash[:notice]['title']
      = flash[:notice]['message']
        
  - else
    .alert.alert-error
      = link_to "×","#", :class => 'close', data: { dismiss: "alert" }
      %strong= "The format of the flash notice: #{flash[:notice].inspect} is invalid"
      