.bottombar
  .cloud-wrapper
    - if current_user
      - @clouds = current_user.clouds
      - @clouds.each do |cloud|
        .cloud-container{ id: cloud.id }
          .cloud-toolbar
            %header
              = cloud.name
              %a.closex
              = link_to "", cloud_path(cloud), class: 'cloud'
          .cloud-extras-wrapper
            = link_to "#", class: 'cloud expand-trigger' do
              %span more
            %ul.cloud-users-list
              - unless cloud.users.online.empty?
                - cloud.users.online.each do |user|
                  %li
                    = link_to image_tag(user.avatar.try(:chat)), user_path(user), data: { 'placement' => "left", 'offset' => -2 }, rel: 'twipsy', title: user.name
          .cloud-chat-wrapper
            .chat-messages
            = form_tag cloud_messages_path(cloud), :remote => true, :class => "chat-form" do
              .chat-input
                = text_area_tag :message, ""
                
  = link_to "", new_cloud_path, class: 'new-cloud'
  
  %ul.cloud-list.clearfix
    - if current_user
      - @clouds = current_user.clouds
      - @clouds.each do |cloud|
        %li.cloud-trigger{ data: { 'cloud-id' => cloud.id, 'cloud-name' => cloud.name } }
          .bg-image{ style: "background-image: url(#{cloud.avatar.url})" }
          = link_to "#" do
            %span.cloud-notification
            %h6.cloud-name= cloud.name
            
  = link_to "","#", class: 'scroll up'
  = link_to "","#", class: 'scroll down'