.bottombar
  .cloud-wrapper
    .ytshadow.left
    - if current_user
      - @clouds = current_user.clouds
      - @clouds.each do |cloud|
        .cloud-container{ id: cloud.id }
          .cloud-toolbar
            %header
              = cloud.name
              %span.usercount= cloud.users.online.count
              %a.closex
              = link_to "", cloud_path(cloud), class: 'cloud'
              .ytshadow.bottom
          .cloud-extras-wrapper
            %ul.cloud-users-list
              - unless cloud.users.online.empty?
                - cloud.users.online.each do |user|
                  %li
                    = link_to image_tag(user.avatar.try(:mini)) + user.name, user_path(user)
          .cloud-chat-wrapper
            .ytshadow.top.heavy
            .cloud-chat-messages
            = form_tag chat_room_messages_path(cloud.id), :remote => true, :class => "cloud-chat-form" do
              .cloud-chat-input
                = text_area_tag :message, ""

  %ul.cloud-list.clearfix
    - if current_user
      - @clouds = current_user.clouds
      - @clouds.each do |cloud|
        %li.cloud-trigger{ data: { 'cloud-id' => cloud.id, 'cloud-name' => cloud.name } }
          %span.cloud-notification
          = link_to "#", :rel => 'twipsy-chat-room', 'data-original-title' => cloud.name do
            .image-gloss
            - if !cloud.avatar.thumb.url.nil?
              = image_tag cloud.avatar.thumb.url
            - else
              %img.nocloudavatar.borderless
