!!! 5
%html{ lang: "en" }
  %head
    %title= @title || "Cloudsdale"
    %meta{ name: "description", content: "Cloudsdale, the best place in the sky. A fast, reliable and beautiful chat app exclusively for bronies." }
    %meta{ name: "keywords", content: "Cloudsdale, MLP, MLP:FiM, FiM, My Little Pony, My Little Pony: Friendship is Magic, Friendship is Magic, Social Network, chat, web, app, desktop, mobile, Android, iOS, Windows Phone 7, Ruby On Rails, HTML5, CSS3, Javascript, Equestria, Cloud, raindrop, drop, pony, brony, Twilight Sparkle, Pinkie Pie, Fluttershy, Rarity, Applejack, Rainbow Dash, Zeeraw, Lisinge, Berwyn, Zimber Fuzz, Manearion, Xtux, Shansai, Aethe, Connorcpu, fansite, Nginx" }
    
    %meta{ name: "google", content: "notranslate"}
    %meta{ name: "google-site-verification", content: "nIOB-knlcXNH0BO6YGcfXouYY2aL8XxcdkEG-nYcpYQ" }
    
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
    %meta{ name: "viewport", :content => "user-scalable=no, width=device-width", :id => "view"}
    
    %link{ href: "/assets/application.css", media: "screen", rel: "stylesheet", type: "text/css" }
    / = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicons/48by48.ico"
    = csrf_meta_tags
    = analytics_init :local => Rails.env.development?
    
    %meta{ property: "og:title", content: "Cloudsdale" }
    %meta{ property: "og:description", content: "Cloudsdale, the best place in the sky. A fast, reliable and beautiful chat app exclusively for bronies." }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:url", content: "http://www.cloudsdale.org" }
    %meta{ property: "og:image", content: Rails.env.development? ? (Cloudsdale.config['url'] + image_path('logo/main_logo.png')) : image_path('logo/main_logo.png')}
    
  %body{ "data-session" => with_format(:json) { render(template: "api/v1/sessions/base") } }
    .loading-content
    .schema-org
      %div{ itemscope: true, itemtype: "http://schema.org/Thing" }
        %span{ itemprop: 'name' }= "Explore"
        %span{ itemprop: 'description' }= "This is the place where you find new places or create one of your own."
        %a{ itemprop: 'url', href: '/explore' }
      %div{ itemscope: true, itemtype: "http://schema.org/Thing" }
        %span{ itemprop: 'name' }= "Info"
        %span{ itemprop: 'description' }= "Want to know about us? head here and we'll tell you more."
        %a{ itemprop: 'url', href: '/info' } 