!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicons/48by48.ico"
    = csrf_meta_tags
    = yield :head

  %body{ :class => "#{params[:controller]} #{params[:action]}", :data => { :controller => params[:controller], :action => params[:action]} }
  
    .bottombar
      = render :partial => 'layouts/bottombar'
      
    .topbar
      .fill
        .container
          = link_to "Cloudsdale", root_path, :class => 'brand'
          
          %ul.nav
            %li.nav_item.menu_label= "Dashboard "
            %li.nav_item.icon.new_article= link_to "", new_article_path
            %li.nav_item.icon.new_cloud= link_to "", new_cloud_path
              
          %ul.nav.secondary-nav
            - if current_user
              %li.dropdown
                = link_to current_user.character.name, "#", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li= link_to "Profile", user_path(current_user)
                  %li= link_to "Articles", user_path(current_user, tab:'articles')
                  %li.divider
                  %li= link_to "Settings", edit_user_path(current_user)
                  %li= link_to "Help", ""
                  %li.divider
                  %li= link_to "Logout", logout_path, 'data-skip-pjax' => true
              %li.dropdown.notifications
                - notification_count = current_user.notifications.unread.count
                = link_to "#", :class => 'dropdown-toggle' do
                  %span= notification_count < 1 ? '' : notification_count
                %ul.dropdown-menu.notifications-list
                  - if notification_count > 0
                    - current_user.notifications.unread.order_by([:timestamp,:desc]).limit(10).each do |notification|
                      %li
                        = link_to notification_path(notification), 'data-skip-pjax' => true do
                          %div
                            - if notification.image
                              = image_tag notification.image
                            - else
                              %img
                            %p
                              %span.actor= notification.actor
                              = notification.text
                    - if notification_count > 10        
                      %li.more
                        = link_to "More...", ""
                  - else
                    %li.empty= "No new notifications..."
                        
                        
            - else
              %li= link_to "Login", login_path, 'data-skip-pjax' => true
              %li= link_to "Register", register_path, 'data-skip-pjax' => true
              %li.img= link_to image_tag("icons/cloud/twitter_cloud.png"), "/auth/twitter"
              %li.img= link_to image_tag("icons/cloud/facebook_cloud.png"), "/auth/facebook"
    
    .container
      = render :partial => 'layouts/alert'
      
      .content{ :data => { 'pjax-container' => ''} }
        = yield
        
      = render :partial => 'layouts/footer'


