!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "application"
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
    = yield :head

  %body
    #wrapper
      - if flash[:notice]
        #flash
          = image_tag "rainbowdash-announcer.png", :id => "flash_announcer"
          %p#flash_bubble
            = image_tag "details/flash_bubble_cone.png", :id => "flash_bubble_cone"
            = flash[:notice]
      #header
        = yield :header
      #navigation
        %ul.nav.left
          %li.home
            = link_to "Home", root_path
          //%li.chat
          //  = link_to "Chat", ""
          //%li.nav_item.library
          //  = link_to "Library", ""
          //%li.nav_item.gallery
          //  = link_to "Gallery", ""
        %ul.nav.right.auth
          - if current_user
            %li.register= link_to "Log out", logout_path
            %li or
            %li.register= link_to "Make a Change", edit_user_path(current_user)
          - else
            %li.register
              = link_to "Sign in", login_path
            %li
              or
            %li.register
              = link_to "Saddle up", new_user_path
            %li you could also prove true friendship by connecting
            %li= link_to image_tag("icons/cloud/facebook_cloud.png"), "/auth/facebook"
            %li or
            %li= link_to image_tag("icons/cloud/twitter_cloud.png"), "/auth/twitter"
            
      #content
        = yield

