!!! 5
%html{ lang: "en" }
  %head
    = csrf_meta_tags

    // METADATA
    %title= page_title
    %meta{ name: "description", content: page_description }
    %meta{ name: "keywords", content: page_keywords }
    %meta{ property: "og:title", content: page_title }
    %meta{ property: "og:description", content: page_description }
    %meta{ property: "og:type", content: page_type }
    %meta{ property: "og:url", content: page_url }
    %meta{ property: "og:image", content: page_image }
    = favicon_link_tag "favicons/48by48.ico"

    // ANALYTICS
    %meta{ name: "google", content: "notranslate" }
    %meta{ name: "google-site-verification", content: "nIOB-knlcXNH0BO6YGcfXouYY2aL8XxcdkEG-nYcpYQ" }
    = analytics_init :local => Rails.env.development?

    // MOBILE
    %meta{ name: "viewport", :content => "user-scalable=no, width=device-width", :id => "view" }

    // FACEBOOK META
    %meta{ property: 'fb:app_id', content: Cloudsdale.config['facebook']['app_key'] }

    // APPLE META
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
    %meta{ name: "apple-itunes-app", content: "app-id=567369714" }

    // STYLESHEETS
    = stylesheet_link_tag "application"
    / %link{ href: 'http://fonts.googleapis.com/css?family=Poiret+One', rel: 'stylesheet', type: 'text/css' }

    // JAVASCRIPT
    / = javascript_include_tag "application"
    %script{ src: 'assets/application.js', type: 'text/javascript' }

  %body{ "data-status" => response.status, "data-session" => with_format(:json) { render(template: "api/v1/sessions/base") } }
    .topnav
      .topnav-inner
    .sidebar
    .main-container
      .view-container.scrolling-container#page-container
        .container.paper-container
          = yield
        %footer.container.footer-container
          .row-fluid
            .span3.hidden-on-phone.hidden-on-tablet
              %center{ style: "padding: 10px 30px;" }
                = image_tag("logo/color-icon-small.png")
            .span9
              .row
                .span12
                  %p.lead= "My Little Pony: Friendship is Magic is © Hasbro. The Cloudsdale team is not affiliated to Hasbro, The Hub or its associates."
              .row
                .span4
                  %ul.unstyled
                    %lh= "Cloudsdale"
                    %li
                      %a{ href: "/privacy-policy" }= "Privacy Policy"

                    %li
                      %a{ href: "/terms-and-conditions" }= "Terms & Conditions"

                    %li
                      %a{ href: "/meet-the-crew" }= "Meet the Crew"

                .span4
                  %ul.unstyled
                    %lh= "Other"
                    %li
                      %a{ href: "http://www.github.com", target: "_blank" }= "GitHub"

                    %li
                      %a{ href: "http://www.rubyonrails.org", target: "_blank" }= "Ruby on Rails"

                    %li
                      %a{ href: "http://www.nodejs.org", target: "_blank" }= "Node.js"

                    %li
                      %a{ href: "http://www.backbonejs.org", target: "_blank" }= "Backbone.js"

                    %li
                      %a{ href: "http://www.rackspace.com", target: "_blank" }= "Rackspace™"

                .span4
                  %ul.unstyled
                    %lh= "Community"
                    %li
                      %a{ href: "/contribute" }= "Contribute"
                    %li
                      %a{ href: "/docs" }= "API Documentation"

