!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicons/48by48.ico"
    = csrf_meta_tags
    %meta{:content => "user-scalable=no, width=760", :name => "viewport", :id => "view"}
    = yield :head
    
  %body{ :class => "#{params[:controller].to_s.parameterize} #{params[:action].to_s.parameterize}", :data => { :controller => params[:controller], :action => params[:action]} }
    = render :partial => 'layouts/topbar'
    .bg-container
      .bg-main
      
    .container-fluid.body
      = render partial: 'layouts/alert'
      .content{ :data => { 'pjax-container' => ''} }
        = yield
        
    = render :partial => 'layouts/bottombar'

