!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicons/48by48.ico"
    = csrf_meta_tags
    %meta{:content => "user-scalable=no", :name => "viewport", :id => "view"}
    = yield :head
    
  %body{ :class => "#{params[:controller].parameterize} #{params[:action].parameterize}", :data => { :controller => params[:controller], :action => params[:action]} }
    #preload
      = image_tag "other/unknown_pony_chat.jpg", :id => "img_unknown_pony_chat"
    .container
      = render :partial => 'layouts/topbar'
      
      .content{ :data => { 'pjax-container' => ''} }
        = yield
        
      = render :partial => 'layouts/footer'
      
    = render :partial => 'layouts/bottombar'
      


