!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicons/48by48.ico"
    = csrf_meta_tags
    %meta{:content => "user-scalable=no, width=device-width", :name => "viewport", :id => "view"}
    = yield :head
    
  %body{ :class => "#{params[:controller].to_s.parameterize} #{params[:action].to_s.parameterize}", :data => { :controller => params[:controller], :action => params[:action]} }
    = render :partial => 'layouts/user_data'
    = render :partial => 'layouts/preload'
    = render :partial => 'layouts/topbar'
    .bg-container
      .container
        .sideborder.left
        .sideshadow.left
          .ytshadow.right
        .sideborder.right
        .sideshadow.right
          .ytshadow.left
    .container-fluid.body
      .content{ :data => { 'pjax-container' => ''} }
        = yield
        
    = render :partial => 'layouts/bottombar'

