!!! 5
%html
  %head
    %link{ rel: "stylesheet", type:"text/css", href: "/assets/email.css" }
  %body
    %table#email-wrap
      %tr
        %td{ align: 'left' }
        %td#email_container{ width: "600px" }
          #header
            #logo
            #subject= @subject
          #article
            #article-inner= yield
          #footer
            %a{ href: "http://www.cloudsdale.org/privacy-policy" }= "Privacy Policy"
            %span= "|"
            %a{ href: "http://www.cloudsdale.org/meet-the-crew" }= "Staff"
            %span= "|"
            %a{ href: "http://www.cloudsdale.org/" }= "Website"
        %td{ align: 'right' }
