!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "front"
    = javascript_include_tag "front"
    = favicon_link_tag "favicons/48by48.ico"
    = csrf_meta_tags
    %meta{:content => "user-scalable=no", :name => "viewport", :id => "view", :width => "device-width" }
  %body{ :class => "#{params[:controller].to_s.parameterize} #{params[:action].to_s.parameterize}", :data => { :controller => params[:controller], :action => params[:action]} }
    .bg-container
    .container
      .page-header
        = image_tag "logo/cloudsdale-logo-medium.png"
      %center
      - if MAINTENANCE
        .alert.alert-error.alert-block
          = link_to "×", "#", class: 'close', data: { dismiss: "alert" }
          %h3.alert-heading Maintenance!
          %p
            %i.icon-warning-sign
            = MAINTENANCE_MESSAGE
      .row
        .span16.content{ :data => { 'pjax-container' => ''} }
          = yield
          
    = render :partial => 'layouts/footer'
