!!! 5
%html
  %head
    %title Cloudsdale
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ :class => "#{params[:controller]} #{params[:action]}", :data => { :controller => params[:controller], :action => params[:action]} }
    .container
      = render :partial => 'layouts/alert'
      
      .content{ :data => { 'pjax-container' => ''} }
        = yield
        
      = render :partial => 'layouts/footer'
            