!!! 5
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %title= content_for?(:title) ? yield(:title) : "Cloudsdale Developer"
  = favicon_link_tag "favicons/48by48.ico"

  = stylesheet_link_tag "web.front"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body
  #head-wrap
    .row.top-bar-wrapper
      .large-12.columns
        .contain-to-grid
          %nav.top-bar
            %ul.title-area
              %li.name
                %h1
                  = link_to root_path, style: 'display: block;' do
                    .logo{ style: 'display: inline; height: 32px; width: 32px; float: left; margin: 6px 0px 7px 8px;' }
                    %span= "Cloudsdale"
              %li.toggle-topbar.menu-icon
                %a{:href => "#", style: 'min-width: 100px;' }
                  %span= "Menu"
            %section.top-bar-section
              %ul.left
                %li.divider
                %li= link_to "Blog",  "http://blog.cloudsdale.org/", target: :_blank
                %li.divider
                %li{ style: 'padding: 12px 15px 0px 15px;' }
                  .fb-like{"data-font" => "arial", "data-href" => "https://www.cloudsdale.org", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
                %li.divider
                %li{ style: 'padding: 12px 0px 0px 22px;' }
                  .g-plusone{"data-href" => "http://www.cloudsdale.org", "data-size" => "medium"}
                %li.divider
                %li{ style: 'padding: 12px 0px 0px 18px;' }
                  %a.twitter-share-button{ "data-text" => "Check out @cloudsdaleapp it's a pretty cool place", "data-url" => "http://www.cloudsdale.org", :href => "https://twitter.com/share"}= "Tweet"
                  :javascript
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                %li.divider
                %li{ style: 'padding: 12px 15px 0px 15px;' }
                  %a.FlattrButton{:href => "http://www.cloudsdale.org", :rev => "flattr;button:compact;", :style => "display:none;"}
                %li.divider

              %ul.right
                %li.divider
                %li= link_to "Login",  login_path
                %li.divider
                %li= link_to "Register",  register_path
                %li.divider

  #body-wrap
    - if content_for?(:legend)
      - flash_class = 'legend-notice'
      - flash_class = 'legend-error' if flash[:error]
      - flash_class = 'legend-success' if flash[:success]
      .legend.color{ :class => flash_class }
        = render 'layouts/flash_error'
        = render 'layouts/flash_notice'
        = render 'layouts/flash_success'
        = yield(:legend)
    - else
      = render 'layouts/flash_error'
      = render 'layouts/flash_notice'
      = render 'layouts/flash_success'
    = yield
    / = AvatarDispatch::ALLOWED_SIZES.join(", ")
  = render 'layouts/page_footer'
  = javascript_include_tag :admin
  %script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=255258867845902";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :javascript
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();

:plain
  </html>
